body {
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  background-color: cornsilk;
}

.title {
  margin-bottom: 0;
}

.by {
  margin-top: 0;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.invisible {
  border-bottom: thick solid black;
  color: cornsilk;
}

#word {
  font-family: 'Permanent Marker', cursive;
  text-transform: capitalize;
}

#letters {
    text-transform: capitalize;
}

span:hover {
  background: goldenrod;
}

