body {
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  background-color: cornsilk;
}

.container {
  display: flex;
  justify-content: center;
}

.title {
  margin-bottom: 0;
}

.by {
  margin-top: 0;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.secretLetter {
  margin: 15px;
}

.largeType {
  font-size: xx-large;
  text-align: center;
}

#word {
  font-family: 'Permanent Marker', cursive;
  text-transform: capitalize;
}

#letters {
    text-transform: capitalize;
}

span:hover {
  background: goldenrod;
}

